@font-face {
  font-family: 'TTNorms-Bold';
  src: url('TTNorms-Bold.eot');
  src: url('TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
       url('TTNorms-Bold.svg#TTNorms-Bold') format('svg'),
       url('TTNorms-Bold.ttf') format('truetype'),
       url('TTNorms-Bold.woff') format('woff'),
       url('TTNorms-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms-Medium';
  src: url('TTNorms-Medium.eot');
  src: url('TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
       url('TTNorms-Medium.svg#TTNorms-Medium') format('svg'),
       url('TTNorms-Medium.ttf') format('truetype'),
       url('TTNorms-Medium.woff') format('woff'),
       url('TTNorms-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms-Regular';
  src: url('TTNorms-Regular.eot');
  src: url('TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
       url('TTNorms-Regular.svg#TTNorms-Regular') format('svg'),
       url('TTNorms-Regular.ttf') format('truetype'),
       url('TTNorms-Regular.woff') format('woff'),
       url('TTNorms-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
